//Reset initial settings
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

//Adapts viewport for browser naviation bar
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.income-amount{
    color: $blue;
}

.expense-amount{
    color: $red;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.calculator-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 92%;
    margin-top: 1%;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: whitesmoke;
    border: solid 1px black;
}

.income-expense-tables-wrapper {
    display: flex;
    justify-content: space-around;
}

h1{
    background-color: rgba(0, 0, 0, 0.735);
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
