.buttons-wrapper{
    display: flex;
    width: 100%;
    height: $input-box-height;
    min-height: $input-box-height--min;
}

#add-button, #clear-button{
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    font-size: medium;
    border: solid black 1px;
    &:hover {
      background-color: black;
      color: white;
    }
}