//Radio buttons wrapper
.radio-buttons {
    display: flex;
    width: 100%;
}

//Hide radio buttons to only show label
#income-radio, #expense-radio {
    opacity: 0;
    position: absolute;
}

.income-radio-label, .expense-radio-label{
    font-family: "Courier new";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: $input-box-height;
    &:hover{
        outline: 2px solid black;
        outline-offset: -2px;
    }
}

//Checked radio buttons
#income-radio:checked + .income-radio-label, #expense-radio:checked + .expense-radio-label{
    color: whitesmoke;
    background-color: black;
}

//Focused radio buttons
#income-radio:focus + .income-radio-label, #expense-radio:focus + .expense-radio-label{
    outline: 1px double white;
    outline-offset: -2px;
}
